name: C-ray Windows CI

on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Configure CMake
        shell: pwsh
        run: cmake -S . -B build -G "Visual Studio 17 2022" -A x64

      - name: Build
        id: build_step
        shell: pwsh
        run: |
          cmake --build build --config Release
          $exePath = Resolve-Path build\Release\c-ray.exe
          "exe_path=$exePath" >> $env:GITHUB_OUTPUT

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: c-ray-windows-binaries
          path: ${{ steps.build_step.outputs.exe_path }}